@using Archetype.Models
@using UrlPicker.Umbraco.Models
@inherits UmbracoTemplatePage
@{
    var x = 0;

    <div class="banner__wrap">
        <div class="banner">
            @foreach (var item in Model.Content.GetPropertyValue<ArchetypeModel>("imageSlider"))
            {
                x++;
                var image = item.GetValue<IPublishedContent>("image");
                var text = item.GetValue("text");
                var link = item.GetValue<UrlPicker>("urlPicker");
                var alt = image.Name;
            @*if (image.HasValue("altTag")) { alt = image.GetPropertyValue("altTag"); }*@

                <div class="banner__item" data-val="@x">
                    <img src="@image.GetCropUrl(1500, 500)" alt="@alt" />
                    @if (text != null && !string.IsNullOrEmpty(link.Url) || link != null && !string.IsNullOrEmpty(link.Url))
                    {
                        <div class="banner__item__text">
                            @if (text != null && !string.IsNullOrEmpty(link.Url))
                            {
                                <p>@text</p>
                            }
                            @if (link != null && !string.IsNullOrEmpty(link.Url))
                            {
                                <a href="@link.Url" class="btn">
                                    @link.Meta.Title
                                </a>
                            }
                        </div>
                    }
                </div>
            }
        </div>
        <div class="banner__controls">
            <div class="banner__controls__arrows">
                <div class="banner__nav banner__nav--prev"></div>
                <div class="banner__nav banner__nav--next"></div>
            </div>
            <div class="banner__controls__radials">
                @for (var y = 0; y < x; y++)
                {
                    <div class="banner__radial" data-val="@y"></div>
                }
            </div>
        </div>
    </div>
}