@using V8Media.Framework.Utilities.Extensions
@inherits UmbracoTemplatePage
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="_nK">
    <title>Judge Gaming @if(Model.Content.HasValue("pageTitle"))
    {
        @:| @Model.Content.GetPropertyValue("pageTitle")
    }</title>
    <link rel="icon" type="image/png" href="~/assets/images/favicon.png">
    @Html.Partial("~/Views/Partials/HtmlHead/BaseStyles.cshtml")
    <!-- jQuery -->
    <script defer src="~/assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="~/assets/vendor/fontawesome-free/js/v4-shims.js"></script>
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>


</head>

<!--
    Additional Classes:
        .nk-page-boxed
-->
<body>
    <!-- START: Page Preloader -->
    @Html.Partial("~/Views/Partials/HtmlHead/PagePreloader.cshtml")
    <!-- END: Page Preloader -->
    <!--START: Page Video Background -->
        @Html.Partial("~/Views/Partials/Decoration/VideoBackground.cshtml")
    <!-- END: Page Background -->
    @Html.Partial("~/Views/Partials/Decoration/Audio.cshtml")
    <!-- END: Page Background -->
    <!-- START: Page Border -->
    @Html.Partial("~/Views/Partials/Decoration/Borders.cshtml")
    <!-- END: Page Border -->
    <header class="nk-header nk-header-opaque">
        @Html.Partial("~/Views/Partials/Navigation/CountrySocialBar.cshtml")
        @Html.Partial("~/Views/Partials/Navigation/MainNavBar.cshtml")
    </header>
        @Html.Partial("~/Views/Partials/Navigation/RightNavBar.cshtml")
        @Html.Partial("~/Views/Partials/Navigation/NavBarMobile.cshtml")
    <div class="nk-main">
        @RenderBody()
        <!-- START: Footer -->
        <footer class="nk-footer nk-footer-parallax nk-footer-parallax-opacity">

            @Html.Partial("~/Views/Partials/Footer/FooterMain.cshtml")
        </footer>
        <!-- END: Footer -->
    </div>
    @Html.Partial("~/Views/Partials/HtmlHead/BaseScripts.cshtml")
</body>
</html>